---
import BaseLayout from "../layouts/BaseLayout.astro";
import Counter from "../components/Counter";
---

<BaseLayout title="Tilulu Bakery">
  <h1 class="text-3xl font-bold text-amber-800">Tilulu Bakery</h1>
  <Counter client:load />
</BaseLayout>
