---
import BaseLayout from "../layouts/BaseLayout.astro";
import Counter from "../components/Counter";
---

<BaseLayout title="Tilulu Bakery">
  <h1>Tilulu Bakery</h1>
  <Counter client:load />
</BaseLayout>
