---
import "../styles/global.css";

interface Props {
  title?: string;
}

const { title = "Tilulu Bakery" } = Astro.props;
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <header><!-- nav later --></header>
    <main>
      <slot />
    </main>
    <footer><!-- footer later --></footer>
  </body>
</html>
